In [1]:
from datetime import datetime, date, time

In [2]:
dt = datetime(2011,10,29,20,30,21)
dt

datetime.datetime(2011, 10, 29, 20, 30, 21)

In [3]:
dt.day

29

In [4]:
type(dt.day)

int

# Convert date into string

In [6]:
dt.strftime('%m/%d/%Y %H:%M')

'10/29/2011 20:30'

# Difference of datetime

In [7]:
delta = datetime(2019,1,7) - datetime(2018,6,24,8,15)
delta

datetime.timedelta(days=196, seconds=56700)

In [8]:
delta.seconds

56700

In [9]:
delta.days

196

# Convert from string to date

In [13]:
stamp = datetime(2019,1,3)
print(str(stamp))

2019-01-03 00:00:00

In [14]:
type(stamp)

datetime.datetime

In [15]:
stamp.strftime('%Y-%m-%d')

'2019-01-03'

In [17]:
value = '19-January-03'
datetime.strptime(value,'%y-%B-%d')

datetime.datetime(2019, 1, 3, 0, 0)

In [20]:
datestrs = ['7/6/2011','8/6/2011']
[datetime.strptime(x, '%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

# Parse

datetime utility that tries to make the best guess; we don't have to tell how the data is stored

In [21]:
from dateutil.parser import parse
parse('2011-January-01')

datetime.datetime(2011, 1, 1, 0, 0)

# Series with Datetime

In [22]:
import pandas as pd
import numpy as np
ts = pd.Series(np.random.randn(4),
              index = pd.date_range('1/1/2000', periods = 4, freq = 'M'))

In [24]:
ts

2000-01-31    1.289896
2000-02-29   -1.713459
2000-03-31   -0.923959
2000-04-30   -0.073129
Freq: M, dtype: float64

In [26]:
ts2 = pd.Series(np.random.randn(5),
               index = pd.date_range('1/1/2003', periods = 5, freq = 'Q'))
ts2

2003-03-31   -1.677908
2003-06-30   -1.670230
2003-09-30   -1.002191
2003-12-31    0.085533
2004-03-31   -0.057181
Freq: Q-DEC, dtype: float64

# Shift - moves things down and up

In [27]:
ts = pd.Series(np.random.randn(4),
              index = pd.date_range('1/1/2000', periods = 4, freq = 'M'))

In [29]:
ts

2000-01-31    0.998412
2000-02-29    1.426282
2000-03-31    0.560862
2000-04-30   -0.110715
Freq: M, dtype: float64

In [28]:
ts.shift(1)

2000-01-31         NaN
2000-02-29    0.998412
2000-03-31    1.426282
2000-04-30    0.560862
Freq: M, dtype: float64

In [30]:
ts.shift(2)

2000-01-31         NaN
2000-02-29         NaN
2000-03-31    0.998412
2000-04-30    1.426282
Freq: M, dtype: float64

In [31]:
ts.shift(-2)

2000-01-31    0.560862
2000-02-29   -0.110715
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64