In [10]:
import pandas as pd
import numpy as np

In [5]:
data = pd.Series(np.random.randn(9),
                index = [['a','a','a','b','b','c','c','d','d'],
                        [1,2,3,1,3,1,2,2,3]])
data

a  1   -0.493279
   2    0.072857
   3   -0.388609
b  1    0.858974
   3    0.070981
c  1    0.902359
   2    0.599277
d  2    1.820304
   3    1.161113
dtype: float64

In [6]:
data.index

MultiIndex([('a', 1),
            ('a', 2),
            ('a', 3),
            ('b', 1),
            ('b', 3),
            ('c', 1),
            ('c', 2),
            ('d', 2),
            ('d', 3)],
           )

In [7]:
data.unstack()

          1         2         3
a -0.493279  0.072857 -0.388609
b  0.858974       NaN  0.070981
c  0.902359  0.599277       NaN
d       NaN  1.820304  1.161113

In [8]:
frame = pd.DataFrame(np.arange(12).reshape(4,3),
                    index =[['a','a','b','b'],[1,2,1,2]],
                    columns=[['Ohio','Ohio','Colorado'],['Green','Red','Green']])
frame

     Ohio     Colorado
    Green Red    Green
a 1     0   1        2
  2     3   4        5
b 1     6   7        8
  2     9  10       11

In [9]:
frame.unstack()

   Ohio            Colorado
  Green    Red        Green
      1  2   1   2        1   2
a     0  3   1   4        2   5
b     6  9   7  10        8  11